@import '../variables.scss';

#navbar {
  padding-top: 68px;

  header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px 27px;
    transition: all 0.5s;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: $shadow-1;

    button {
      display:flex;
      justify-items: center;

      border: 0;
      padding: 0;
      background: none;

      svg {
        fill: $color-primary--dark;
      }
    }
  }
}
@keyframes decreaseSizeFrame {
  from {
    height: 45px;
    width: 90px;
    background-color: #FFF;
  }
  to {
    height: 24px;
    width: 24px;
  }
}

@keyframes increaseSizeFrame {
  from {
    height: 24px;
    width: 24px;
  }
  to {
    height: 45px;
    width: 120px;
    background-color: #FFF;
  }
}

#imageBox {
  overflow: hidden;
  max-width: 300px;
}

.decreasedSize {
  height: 44px;

  img {
    height: 100%;
  }

  #imageBox {
    animation: decreaseSizeFrame .5s linear forwards;
  }
}

.defaultSize {
  height: 68px;

  img {
    height: 100%;
  }

  #imageBox {
    animation: increaseSizeFrame .5s linear forwards;
  }
}


#menu {
  position: absolute;
  top: 0;

  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: $color-primary--dark;
  filter: drop-shadow($shadow-1);

  max-width: 312px;
  width: 100%;
  height: 100%;

  z-index: 20;

  @media (max-width: 450px) {
    max-width: 100%;
    min-width: 312px;

    z-index: 20;
  }

  #menuClose {
    height: 0;

    button {
      position: relative;
      width: 24px;
      height: 24px;
      top: 10px;
      left: calc(100% - 40px);
      border: 0;
      background: none;

      svg {
        color: $color-primary--dark;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  ul, li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
  }

  .list {
    > li {
      background-color: $color-primary--light;
      margin-bottom: 8px;

      > div {
        height: 44px;
        display: flex;
        flex-direction: row;
        padding: 14px 16px;

        > span {
          margin-left: 8px;
          color: $color-primary--dark;
          font-weight:  700;
        }
      }
    }
  }


  .listItem {
    > li {
      padding: 6px 32px;
      background-color: #fff;

      > span {
        padding: 6px 32px;
      }
    }

    > li:nth-child(1) {
      padding-top: 14px;
    }
  }
}
