@import '../../styles/variables.scss';

.card {
  max-width: 500px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
}

.icon {
  max-width: initial;
  height: auto;
}

.footer {
  justify-content: space-between;
}

.projectLink {
  color: $color-primary;
}

.projectLinkIcon {
  stroke: $color-primary;
}
