@import '../../styles/variables.scss';

.contribute {
  display: flex;
  justify-content: center;

  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    padding: 4rem 1rem 4rem 1rem;
  }
}

.contributeImage {
  height: 30rem;
  width: auto;
  max-width: 90vw;
  margin-left: 10vw;
}

.contentWrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  @media (max-width: 1000px) {
    margin-top: 2rem;
    align-items: center;
  }
}

.text,
.button {
  margin-top: 4rem;
}

.link {
  color: $color-primary;
}
