@import '../../styles/variables.scss';

.bodyText {
  color: $color-black;
  font-weight: 400;

  &.bold {
    font-weight: 700;
  }
}

.medium {
  font-size: 0.87rem;
  line-height: 1.31rem;
}

.small {
  font-size: 0.69rem;
  line-height: 1.03rem;
}
