// COLORS
$color-primary: #3793df;
$color-primary--dark: #0063b5;
$color-primary--light: #b6deff;
$color-alert: #ff0000;
$color-secondary: #ffcc00;
$color-secondary--dark: #ff9a02;
$color-secondary--light: #ffea97;
$color-black: #0b1b32;
$color-gray-1: #495765;
$color-gray-2: #a8b9c8;
$color-gray-3: #dde8ee;
$color-gray-4: #f8f9fa;
$color-white: #ffffff;

// EFFECTS
$shadow-1: 0px 4px 30px rgba(0, 0, 0, 0.2);
$shadow-2: 0px -4px 30px rgba(0, 0, 0, 0.2);

// SIZES
$space1x: 4px;
$space2x: 2*$space1x;
$space3x: 3*$space1x;
$space4x: 4*$space1x;
