@import '../styles/variables.scss';

:root {
  --primary: #{$color-primary};
  --primary--dark: #{$color-primary--dark};
  --primary--light: #{$color-primary--light};
  --alert: #{$color-alert};
  --secondary: #{$color-secondary};
  --secondary--dark: #{$color-secondary--dark};
  --secondary--light: #{$color-secondary--light};
  --black: #{$color-black};
  --gray-1: #{$color-gray-1};
  --gray-2: #{$color-gray-2};
  --gray-3: #{$color-gray-3};
  --gray-4: #{$color-gray-4};
  --white: #{$color-white};
  --shadow-1: #{$shadow-1};
  --shadow-2: #{$shadow-2};
}
