@import '../styles/variables.scss';

.history {
  padding: 4rem;

  .historyTexts {
    p {
      margin: 1.5rem 0 1.5rem;
      text-align: center;
      font-weight: 500;
      color: $color-text--dark;
      a {
        border-bottom: 1px solid $color-text--dark;
      }
    }
  }

  @media (max-width: 1280px) {
    padding: 2rem 1rem 2rem 1rem;
  }
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    height: 100px;
    width: 100px;
  }

  h2 {
    margin-top: 2rem;
  }
}

.volunteers {
  background: $color-background-secondary;
  padding: 8rem;

  @media (max-width: 1280px) {
    padding: 4rem 1rem 4rem 1rem;
  }
}
