@import '../../styles/variables.scss';

.title {
  font-size: 1.5rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}

.contactFormInput,
.contactFormTextarea {
  width: 100%;
  border: 1px solid $color-gray-2;
  border-radius: 4px;
  padding-left: 1rem;
}

.contactFormInput {
  height: 40px;
}

.contactFormInput + .contactFormInput {
  margin-top: 1rem;
}

.contactFormTextarea {
  margin-top: 1rem;
  padding-top: calc(20px - 0.5rem);
}

.contactFormSubmitButton {
  margin-top: 1rem;
  height: 40px;
  width: 100%;
}
