@import '../../styles/variables.scss';

@keyframes decreaseSizeFrame {
  from {
    height: 45px;
    width: 90px;
  }
  to {
    height: 24px;
    width: 24px;
  }
}

@keyframes increaseSizeFrame {
  from {
    height: 24px;
    width: 24px;
  }
  to {
    height: 45px;
    width: 120px;
  }
}

#header {
  height: 68px;

  @media (min-width: 1280px) {
    height: 150px;
  }

  svg {
    fill: $color-primary--dark;
  }

  &.decreasedSize {
    nav img {
        height: 100%;
    }

    #reducedImageWithScroll {
      animation: decreaseSizeFrame .5s linear forwards;
    }

  }

  &.defaultSize {
    nav {
      height: 68px;

      img {
        height: 100%;
      }
    }

    #reducedImageWithScroll {
      animation: increaseSizeFrame .5s linear forwards;
    }
  }

  nav {
    position: relative;
    top: 0;
    left: 0;
    right: 0;

    transition: all 0.5s;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    background-color: $color-gray-4;
    box-shadow: $shadow-1;

    form {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      min-width: 270px;
      max-width: 400px;
      width: 100%;

      > svg {
        position: relative;
        right: -34px;
        z-index: 5;
      }

      button {
        position: relative;
        left: -34px;
        z-index: 5;
      }

      input {
        display: flex;
        flex: 1;
        border: 0;

        height: 100%;
        width: 100%;
        padding: 7px 0 7px 42px;

        ::placeholder{
          color: $color-gray-2;
          font-weight: 500;
        }
      }
    }

    &#desktop {
      display: none;

      padding: 24px 72px;
      height: 150px;

      div, ul, form {
        display: flex;
        flex-direction: row;
        size: 14px;
      }

      .logo {
        height: 104px;
      }

      ul {
        li {
          padding: 0 16px;
          color: $color-primary--dark;
          font-weight: bold;
          a svg {
            fill: $color-primary;
          }
        }
      }

      form {
        height: 48px;
        max-width: 498px;
        width: 100%;

        input {
          border: 1px solid $color-primary--dark;
          padding-left: 64px;
        }

        svg {
          right: -48px;
        }
      }

      ul {
        list-style-type: none;
      }
    }

    &#mobile {
      display: flex;

      padding: 12px 27px;
      min-height: 48px;
      max-height: 68px;

      > div {
        margin: 0 auto;
        max-width: 1200px;
        z-index: 11;
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > div {
          display: flex;
          justify-content: center;
        }
      }

      button {
        display: flex;
        justify-items: center;

        border: 0;
        padding: 0;
        background: none;
      }

      img.searchImageSize {
        height: 24px;
        width: auto;
      }
    }

    @media (min-width: 1280px) {
      &#desktop {
        display: flex;
      }
      &#mobile {
        display: none;
      }
    }
  }
}

#reducedImageWithScroll {
  overflow: hidden;
  max-width: 300px;
}

#menu {
  position: fixed;
  top: 0;
  z-index: 20;
  height: 100%;

  max-width: 312px;
}
