@import '../../styles/variables.scss';

#menu {
  display: flex;
  width: 100%;
  height: 100%;

  flex-direction: column;
  background-color: #fff;
  color: $color-primary--dark;
  filter: drop-shadow($shadow-1);

  @media (max-width: 450px) {
    max-width: 100%;
    min-width: 312px;

    z-index: 20;
  }

  #menuClose {
    height: 0;

    button {
      position: relative;
      width: 24px;
      height: 24px;
      top: 10px;
      left: calc(100% - 40px);
      border: 0;
      background: none;

      &:hover {
        cursor: pointer;
      }
    }

    svg {
      fill: $color-primary--dark;
    }
  }

  ul, li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
  }

  .list {
    > li {
      background-color: $color-primary--light;
      margin-bottom: 8px;

      > div {
        height: 44px;
        display: flex;
        flex-direction: row;
        padding: 14px 16px;

        > span {
          margin-left: 8px;
          color: $color-primary--dark;
          font-weight:  700;
        }
      }
    }
  }

  .listItem {
    > li {
      padding: 6px 32px;
      background-color: #fff;

      > span {
        padding: 6px 32px;
      }
    }

    > li:nth-child(1) {
      padding-top: 14px;
    }
  }
}
