@import '../../styles/variables.scss';

.headline {
  color: $color-black;
  font-weight: 700;
  font-family: 'Montserrat', Roboto, sans-serif;
}

.medium {
  font-size: 1.5rem;
  line-height: 1.82rem;
}

.large {
  font-size: 3rem;
  line-height: 4.5rem;
}

.small {
  font-size: 1rem;
  line-height: 1.5rem;
}
